# Awesome Zsh Plugins: https://github.com/unixorn/awesome-zsh-plugins
# Antigen: https://github.com/zsh-users/antigen
# Oh My Zsh: https://github.com/ohmyzsh/ohmyzsh

MAGIC_ENTER_GIT_COMMAND='git status -u .'
MAGIC_ENTER_OTHER_COMMAND='grc ls -alh'

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
antigen bundles <<EOBUNDLES
#  heroku
#  pip
#  lein
  argocd
  autoenv
  command-not-found
  docker
  autojump
  colorize
  copyfile
  copypath
  dirhistory
  {{- if eq .chezmoi.os "darwin" -}}
  iterm
  {{ end }}
  genpass
  git
  keychain
  kube-ps1
  kubectl
  kubectx
  magic-enter
  safe-paste
  ssh 
  vscode
EOBUNDLES

# Additional bundles
antigen bundles <<EOBUNDLES
  zsh-users/zsh-syntax-highlighting
  zsh-users/zsh-autosuggestions
  zsh-users/zsh-completions
  ael-code/zsh-colored-man-pages
  hadenlabs/zsh-bitwarden
#  kennethreitz/autoenv
#  b4b4r07/enhancd
  supercrabtree/k
#  esc/conda-zsh-completion
{{- if eq .insite.enabled "true" - }}
  /Library/Ruby/Gems/2.6.0/gems/insite-engineers-1.6.2/zsh/insite
{{ end }}
EOBUNDLES

# Load the theme.
antigen theme romkatv/powerlevel10k

# Tell Antigen that you're done.
antigen apply
