#!/bin/sh

brew_install() {
  echo "\nInstalling $1"
  if brew list $1 &>/dev/null; then
    echo "${1} is already installed"
  else
    brew install $1
  fi
}

# antigen
curl -L git.io/antigen > ~/.antigen.zsh

# homebrews
brews=(
  thefuck
  bitwarden-cli
  autojump
  derailed/k9s/k9s
  k0sctl
  kustomize
  helm
  helmfile
  neovim
  k0sctl
)

for brew in "${brews[@]}"
do
  brew_install $brew
done

# Fonts on MacOS
{{ if eq .chezmoi.os "darwin" -}}
brew_install font-hack-nerd-font
brew_install font-caskaydia-cove-nerd-font
{{ end -}}
