#!/bin/sh

# homebrews
brew install thefuck lastpass-cli autojump derailed/k9s/k9s neovim

# Fonts on MacOS
{{ if eq .chezmoi.os "darwin" -}}
brew tap homebrew/cask-fonts && brew install --cask font-hack-nerd-font
brew tap homebrew/cask-fonts && brew install --cask font-caskaydia-cove-nerd-font
{{ end -}}

# antigen
curl -L git.io/antigen > ~/.antigen.zsh
