#!/bin/sh
# vi: ft=bash

if [ "$(command -v age)" ]; then
  if [ ! -f "${XDG_CONFIG_HOME:-$HOME/.config}/chezmoi/key.txt" ]; then
    mkdir -p "${XDG_CONFIG_HOME:-$HOME/.config}/chezmoi"
    chezmoi age decrypt --output "${XDG_CONFIG_HOME:-$HOME/.config}/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${XDG_CONFIG_HOME:-$HOME/.config}/chezmoi/key.txt"
  fi
else
    echo "error: age not installed, skipping decryption"
fi
